# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock
**/doc/api/
.dart_tool/
.packages
build/

# Private settings related
.vscode/

# Android related
*.iml
.gradle
local.properties
/.idea/workspace.xml
/.idea/libraries
.cxx
/android/app/release
gradle-wrapper.jar
/.gradle
**/gradlew
**/gradlew.bat
key.properties
**/*.keystore
**/*.jks

# iOS related
.sconsign.dblite
profile
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata
*sync/
Icon?
ios/Flutter/ephemeral/
.tags*
**/.vagrant/
**/DerivedData/
**/Pods/
**/.symlinks/
**/.generated/
App.framework
Flutter.framework
Flutter.podspec
Generated.xcconfig
flutter_export_environment.sh
ServiceDefinitions.json
GeneratedPluginRegistrant.*

# Example related
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
example/android/app/src/debug/
example/android/app/src/profile/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
