# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock
**/doc/api/
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/android/app/release
/android/app/src/debug/
/android/app/src/profile/

# Private settings related
.vscode/
.vs/

# Android related
.gradle
gradle-wrapper.jar
**/gradlew
**/gradlew.bat
local.properties
key.properties

# Darwin related
xcuserdata
*sync/
**/Flutter/ephemeral/
**/.vagrant/
**/DerivedData/
**/Pods/
**/.symlinks/
**/.generated/
App.framework
Flutter.framework
Flutter.podspec
Generated.xcconfig
flutter_export_environment.sh
GeneratedPluginRegistrant.*

# Windows related
*.suo
*.user
*.userosscache
*.sln.docstates
*.[Cc]ache
!*.[Cc]ache/
**/x64/
**/x86/
