# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock
**/doc/api/
.dart_tool/
.packages
build/

# Private settings related
.vscode/

# Android related
*.iml
.gradle
local.properties
/.idea/workspace.xml
/.idea/libraries
/captures
.cxx
/android/app/release
gradle-wrapper.jar
/.gradle
/captures/
**/gradlew
**/gradlew.bat
**/local.properties
GeneratedPluginRegistrant.java
key.properties
**/*.keystore
**/*.jks

# iOS related
.vagrant/
.sconsign.dblite
.svn/
.DS_Store
*.swp
profile

DerivedData/
.generated/

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

xcuserdata

*.moved-aside

*.pyc
*sync/
Icon?
.tags*

**/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
.sconsign.dblite
.tags*
**/.vagrant/
**/DerivedData/
**/Pods/
**/.symlinks/
profile
xcuserdata
**/.generated/
App.framework
Flutter.framework
Flutter.podspec
Generated.xcconfig
flutter_export_environment.sh
ServiceDefinitions.json
GeneratedPluginRegistrant.*

# Example related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
example/android/app/src/debug/
example/android/app/src/profile/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
