name: CI

on:
  push:

env:
  FLUTTER_CLEAN_AND_PUB_GET: "flutter clean && flutter pub get && flutter clean ./example && flutter pub get ./example"
  RUN_INTEGRATION_TEST: "flutter test integration_test/integration_test.dart --timeout none"
  DEFAULT_ANDROID_OPTIONS: "-no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none -camera-front none"
  GRANT_ANDROID_WRITE_PERMISSION: "flutter build apk --debug; adb install -r build/app/outputs/flutter-apk/app-debug.apk; adb shell pm grant studio.midoridesign.gal_example android.permission.WRITE_EXTERNAL_STORAGE"
  GRANT_ANDROID_READ_PERMISSION: "adb shell pm grant studio.midoridesign.gal_example android.permission.READ_EXTERNAL_STORAGE" #Use after granting write

jobs:
  cancel-outdated-runs:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}
  setup:
    runs-on: macos-latest
    steps:
     - name: Check out
       uses: actions/checkout@v3
     
     - name: Setup Flutter SDK
       uses: subosito/flutter-action@v2
       with:
         channel: beta

     - name: Cache Flutter SDK
       uses: actions/cache@v3
       with:
         path: /opt/hostedtoolcache/Flutter
         key: ${{ runner.os }}-flutter-${{ hashFiles('**/flutter/bin/cache/**') }}-${{ github.run_id }}

     - name: Cache Flutter packages
       uses: actions/cache@v3
       with:
         path: ~/.pub-cache
         key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.lock') }}-${{ github.run_id }}

     - name: Install packages
       run: flutter --disable-telemetry && flutter pub get

     - name: Analyze
       run: flutter analyze

  ios:
    needs: setup
    timeout-minutes: 60
    strategy:
      fail-fast: true
    runs-on: macos-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3

      - name: Cache Flutter SDK
        uses: actions/cache@v3
        with:
          path: /opt/hostedtoolcache/Flutter
          key: ${{ runner.os }}-flutter-${{ hashFiles('**/flutter/bin/cache/**') }}-${{ github.run_id }}

      - name: Setup Flutter SDK
        uses: subosito/flutter-action@v2
        with:
          channel: beta

      - name: Cache Flutter packages
        uses: actions/cache@v3
        with:
          path: ~/.pub-cache
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.lock') }}-${{ github.run_id }}

      - name: Install Flutter dependencies
        run: flutter pub get ./example
      
      - uses: futureware-tech/simulator-action@v2
        with:
          model: iPhone 14 Pro Max
      
      - name: Build
        timeout-minutes: 20
        run: |
          cd example
          flutter build ios --simulator --target=integration_test/integration_test.dart

      - name: Run integration tests
        id: Run-integration-tests
        continue-on-error: true
        timeout-minutes: 15
        run: |
          cd example
          $RUN_INTEGRATION_TEST

      - name: Retry integration tests
        if: steps.Run-integration-tests.outcome == 'failure'
        timeout-minutes: 20
        run: |
          $FLUTTER_CLEAN_AND_PUB_GET
          cd example
          $RUN_INTEGRATION_TEST

  android:
    needs: setup
    timeout-minutes: 60
    runs-on: macos-latest
    strategy:
      matrix:
        api-level: [31,30,29,28,27,26,25,24,23,22,21]
      fail-fast: false
    steps:
      - name: Check out
        uses: actions/checkout@v3

      - name: Cache Flutter SDK
        uses: actions/cache@v3
        with:
          path: /opt/hostedtoolcache/Flutter
          key: ${{ runner.os }}-flutter-${{ hashFiles('**/flutter/bin/cache/**') }}-${{ github.run_id }}

      - name: Setup Flutter SDK
        uses: subosito/flutter-action@v2
        with:
          channel: beta

      - name: Cache Flutter packages
        uses: actions/cache@v3
        with:
          path: ~/.pub-cache
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.lock') }}-${{ github.run_id }}

      - name: Install Flutter dependencies
        run: flutter pub get ./example

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin
          cache: gradle
        
      - name: AVD cache
        uses: actions/cache@v3
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ matrix.api-level }}

      - name: Create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          arch: x86_64
          emulator-boot-timeout: 600
          force-avd-creation: false
          sdcard-path-or-size: ${{ matrix.api-level <= 23 && '10M' || null }}
          emulator-options: $DEFAULT_ANDROID_OPTIONS
          script: echo "Generated AVD snapshot for caching."

      - name: Run integration tests
        id: Run-integration-tests
        continue-on-error: true
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          working-directory: ./example
          arch: x86_64
          emulator-boot-timeout: 600
          force-avd-creation: false
          sdcard-path-or-size: ${{ matrix.api-level <= 23 && '10M' || null }}
          emulator-options: -no-snapshot-save $DEFAULT_ANDROID_OPTIONS
          script: |
            if [ ${{ matrix.api-level }} -le 29 ]; then $GRANT_ANDROID_WRITE_PERMISSION; fi
            if [ ${{ matrix.api-level }} -le 23 ]; then $GRANT_ANDROID_READ_PERMISSION; fi
            $RUN_INTEGRATION_TEST

      - name: Retry integration tests
        if: steps.Run-integration-tests.outcome == 'failure'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          working-directory: ./example
          arch: x86_64
          emulator-boot-timeout: 900
          force-avd-creation: false
          sdcard-path-or-size: ${{ matrix.api-level <= 23 && '10M' || null }}
          emulator-options: -no-snapshot-save $DEFAULT_ANDROID_OPTIONS
          pre-emulator-launch-script: |
            adb kill-server
            adb start-server
          script: |
            $FLUTTER_CLEAN_AND_PUB_GET
            if [ ${{ matrix.api-level }} -le 29 ]; then $GRANT_ANDROID_WRITE_PERMISSION; fi
            if [ ${{ matrix.api-level }} -le 23 ]; then $GRANT_ANDROID_READ_PERMISSION; fi
            $RUN_INTEGRATION_TEST